<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)='dismissModal()'>{{ 'END.text' | translate:params }}</ion-button>
      </ion-buttons>
    <ion-title>
      {{ 'OBJ.text' | translate:params }} {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">{{ 'NOM.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DMGAD.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.dmgAD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DMGAP.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.dmgAP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DEFAD.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.defAD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DEFAP.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.defAP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'HASTE.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.haste"></ion-input>
  </ion-item>

<ion-button expand="full" (click)="updatePJ()">{{ 'ADDOBJ.text' | translate:params }}</ion-button>

</ion-content>