<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)='dismissModal()'>{{ 'END.text' | translate:params }}</ion-button>
      </ion-buttons>
    <ion-title>
      {{ 'PERS.text' | translate:params }} {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{ 'PERS.text' | translate:params }}</ion-label>
    <ion-select [(ngModel)]="newItem.personaje" [compareWith]="compareFn">
      <ion-select-option *ngFor="let pj of personajes" [value]="pj">{{pj.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'OBJS.text' | translate:params }}</ion-label>
    <ion-select multiple="true" [(ngModel)]="objetosItem" [compareWith]="compareFn">
      <ion-select-option *ngFor="let pj of objetos" [value]="pj">{{pj.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

<ion-button expand="full" (click)="updatePJ()">{{ 'ADDBDS.text' | translate:params }}</ion-button>

</ion-content>