<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'PERS.text' | translate:params }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="ishidden">

  <ion-item>
    <ion-label position="fixed">{{ 'NOM.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'ROL.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.rol"></ion-input>
  </ion-item>

<ion-button expand="full" (click)="addPJ()">{{ 'ADD.text' | translate:params }}</ion-button>

</div>
<ion-button expand="full" (click)="showAdd()">+</ion-button>

<ion-list #mylist>

  <ion-list-header>
    <ion-label>{{ 'PERS.text' | translate:params }}</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let item of items">

    <ion-item>
      <ion-label text-wrap>
        <h3>{{item.nombre}} 
        <ion-img [src]="item.rutaIc"></ion-img>
        <ion-text color="secondary">
          
          <p>{{item.rol}}</p>
        </ion-text></h3>
        
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="updatePJ(item)">{{ 'EDI.text' | translate:params }}</ion-item-option>
      <ion-item-option color="danger" (click)="deletePJ(item)">{{ 'DEL.text' | translate:params }}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


</ion-content>
