<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'OBJS.text' | translate:params }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="ishidden">

  <ion-item>
    <ion-label position="fixed">{{ 'NOM.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DMGAD.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.dmgAD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DMGAP.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.dmgAP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DEFAD.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.defAD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'DEFAP.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.defAP"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'HASTE.text' | translate:params }}</ion-label>
    <ion-input type="number" [(ngModel)]="newItem.haste"></ion-input>
  </ion-item>


<ion-button expand="full" (click)="addPJ()">{{ 'ADDOBJ.text' | translate:params }}</ion-button>
</div>
<ion-button expand="full" (click)="showAdd()">+</ion-button>

<ion-list #mylist>

  <ion-list-header>
    <ion-label>{{ 'OBJS.text' | translate:params }}</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let item of items">

    <ion-item>
      <ion-label text-wrap>
        <h3>{{item.nombre}}
          <ion-img [src]="item.itRuta"></ion-img>
        <ion-text color="secondary">
          <p>{{ 'DMGAD.text' | translate:params }} : {{item.dmgAD}}</p>
          <p>{{ 'DMGAP.text' | translate:params }} : {{item.dmgAP}}</p>
          <p>{{ 'DEFAD.text' | translate:params }} : {{item.defAD}}</p>
          <p>{{ 'DEFAP.text' | translate:params }} : {{item.defAP}}</p>
          <p>{{ 'HASTE.text' | translate:params }} : {{item.haste}}</p>
        </ion-text></h3>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="updatePJ(item)">{{ 'EDI.text' | translate:params }}</ion-item-option>
      <ion-item-option color="danger" (click)="deletePJ(item)">{{ 'DEL.text' | translate:params }}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


</ion-content>
