<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'CONF.text' | translate:params }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-item>
      <ion-label>Selecciona el idioma</ion-label>
      <ion-select placeholder="Selecciona uno " [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="cat">Catalá</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-item lines="none">
    <p>{{ 'CONF.text' | translate:params }}</p>
  </ion-item>
  

  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>{{ 'DRK.text' | translate:params }}</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
