<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)='dismissModal()'>{{ 'END.text' | translate:params }}</ion-button>
      </ion-buttons>
    <ion-title>
      {{ 'PERS.text' | translate:params }} {{nombre}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">{{ 'NOM.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">{{ 'ROL.text' | translate:params }}</ion-label>
    <ion-input type="string" [(ngModel)]="newItem.rol"></ion-input>
  </ion-item>

<ion-button expand="full" (click)="updatePJ()">{{ 'ADD.text' | translate:params }}</ion-button>

</ion-content>