<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      {{ 'BUILD.text' | translate:params }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="ishidden">
  
  <ion-item>
    <ion-label>{{ 'PERS.text' | translate:params }}</ion-label>
    <ion-select [(ngModel)]="newItem.personaje" [compareWith]="compareFn">
      <ion-select-option *ngFor="let pj of personajes" [value]="pj">{{pj.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'OBJS.text' | translate:params }}</ion-label>
    <ion-select multiple="true" [(ngModel)]="objetosItem" [compareWith]="compareFn">
      <ion-select-option *ngFor="let pj of objetos" [value]="pj">{{pj.nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="addPJ()">{{ 'ADDBDS.text' | translate:params }}</ion-button>
</div>

<ion-button expand="full" (click)="showAdd()">+</ion-button>

<ion-list #mylist>
  <ion-searchbar></ion-searchbar>
  <ion-list-header>
    <ion-label>{{ 'BDS.text' | translate:params }}</ion-label>
  </ion-list-header>

  <ion-item-sliding *ngFor="let item of items">

    <ion-item>
      <ion-label text-wrap>
        <h3>{{item.personaje.nombre}} 
        <ion-img class="champ" [src]="item.personaje.rutaIc"></ion-img>
        <ion-text color="secondary">
          
          <p><ion-img [src]="item.item1.itRuta"></ion-img><ion-img [src]="item.item2.itRuta"></ion-img><ion-img [src]="item.item3.itRuta"></ion-img>
            <ion-img [src]="item.item4.itRuta"></ion-img><ion-img [src]="item.item5.itRuta"></ion-img><ion-img [src]="item.item6.itRuta"></ion-img></p>
        </ion-text></h3>
        
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="secondary" (click)="updatePJ(item)">{{ 'EDI.text' | translate:params }}</ion-item-option>
      <ion-item-option color="danger" (click)="deletePJ(item)">{{ 'DEL.text' | translate:params }}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>


</ion-content>